* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-top: 3.125rem;
}

body {
    padding: 2.5rem;
    font-family: cursive;
}

.black {
    background-color: #000;
    color: #fff;
    transition: 0.2s;
}

.white {
    background-color: #fff;
    color: #000;
    transition: 0.2s;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #757575;
    width: 2.5rem;
    height: 1.25rem;
    border-radius: 0.625rem;
    padding: 0.3125rem;
}

.switch div {
    width: 0.625rem;
    height: 0.625rem;
    background-color: #fff;
    border-radius: 0.625rem;
}

.switch.active div {
    transition: 0.2s;
    transform: translateX(1.25rem);
}

.switch.deactive div {
    transition: 0.2s;
}

.search-input {
    width: 100%;
    height: 3.125rem;
    border-radius: 0.9375rem;
    border: none;
    background-color: #f5f5f5;
    margin-top: 1.25rem;
    padding: 1.25rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 9.375rem;
}

footer {
    margin-top: 9.375rem;
    height: 6.25rem;
}

.word-title {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.word-type {
    font-size: 1.25rem;
    font-weight: 500;
}

.word-type-container {
    display: flex;
    flex-direction: column;
}

hr {
    width: 92%;
    margin-left: 8%;
    margin-bottom: 0.75rem;
}

.divider1 {
    width: 100%;
    margin-left: 0;
}

.pose {
    background-color: #e8d0fa;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p_but {
    background-color: #6d06bd;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
}

.just_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}