* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-top: 3.125rem;
}

body {
    padding: 2.5rem;
    font-family: sans-serif;
}

.black {
    background-color: #000;
    color: #fff;
    transition: 0.2s;
}

.white {
    background-color: #fff;
    color: #000;
    transition: 0.2s;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #757575;
    width: 2.5rem;
    height: 1.25rem;
    border-radius: 0.625rem;
    padding: 0.3125rem;
}

.switch div {
    width: 0.625rem;
    height: 0.625rem;
    background-color: #fff;
    border-radius: 0.625rem;
}

.switch.active div {
    transition: 0.2s;
    transform: translateX(1.25rem);
}

.switch.deactive div {
    transition: 0.2s;
}

.search-input {
    width: 100%;
    height: 3.125rem;
    border-radius: 0.9375rem;
    border: none;
    background-color: #f5f5f5;
    margin-top: 1.25rem;
    padding: 1.25rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 9.375rem;
}

footer {
    margin-top: 9.375rem;
    height: 6.25rem;
}

.word-title {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.word-type {
    font-size: 1.25rem;
    font-weight: 500;
}

.word-type-container {
    display: flex;
    flex-direction: column;
}

hr {
    width: 92%;
    margin-left: 8%;
    margin-bottom: 0.75rem;
}

.divider1 {
    width: 100%;
    margin-left: 0;
}

.pouse-btn {
    border: none;
    background-color: transparent;
    width: 150px;
    height: 150px;
    z-index: 1000;
    cursor: pointer;
}

.pouse-btn svg {
    width: 100%;
    height: 100%;
}

.word-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;

}

.header-container div {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.svg_div {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 10px;
}

.svg_div > * {
    position: absolute;
    top: 0;
    left: 0;
}


.svg1{
    z-index: 1;
}


.moon-purple{
    z-index: 1;
}

.moon-gray {
    z-index: 1;
}

.search-svg{
    position: absolute;
    margin: 15px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-position: inside;
}

.welcome {
    width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: purple;
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 1000;
    text-align: center;
    margin-top: 150px;
}


footer a {
    text-decoration: none;
    color: rgb(197, 2, 197);
}

main {
    display: none;
}

footer {
    display: none;
}

.welcome {
    display: block;
}


.divider{
    position: relative;
    top: 40px;
    width: 92%;
    right: 4%;
}




li{
    list-style-type: disc;
    color: inherit;
    }

    li::marker {
        color: rgb(197, 2, 197);
}


